body {
    font-family: Arial;
    font-size: 10pt;
    color: #9EA0A3;
}

#dlTasks, #droppableArea {
    border: 1px solid #ED333A;
    padding: 5px;
    margin-top: 10px;
    min-height: 100px;
    float: left;
    color: #9EA0A3;
}

#dlTasks {
    width: 49%;
    margin-right: 1%;
}

#droppableArea {
    width: 49%;
    margin-left: 1%;
}

#logo, #todoItemInput {
    margin-top: 10px;
}

.todoItem {
    border: 1px solid #9EA0A3;
    margin: 5px;
    padding: 5px;
}

.form-group {
    margin-top: 15px;
}

.form-control {
    width: 30%;
}
.editItem {
    padding: 3px 0 3px 0;
}
